---
layout: siteindex
title: Site Map
permalink: /siteindex/
---
{% assign sorted_pages = site.pages | sort:"title" %}

<div class="row">
  <div class="col-lg-8">
    <div data-aaad='true' data-aa-adunit='/22815767462/shotcutorg_Desktop_LargeAd_1'></div>
    <div data-aaad='true' data-aa-adunit='/22815767462/shotcutorg_Mobile_300_1'></div>
    <div data-aaad='true' data-aa-adunit='/22815767462/shotcutcom_Desktop_LargeAd_1'></div>
    <div data-aaad='true' data-aa-adunit='/22815767462/shotcutcom_Mobile_300_1'></div>
    <div data-aaad='true' data-aa-adunit='/22815767462/shotcutapp_Desktop_LargeAd_1'></div>
    <div data-aaad='true' data-aa-adunit='/22815767462/shotcutapp_Mobile_300_1'></div>
  </div><!-- /col-lg-8 -->
</div><!-- /row -->

<div class="row">
  <div class="col-md-6">
    <h5>About</h5>
      {% for page in sorted_pages %}
        {% if page.category == 'about' %}
          {% if page.hidden != true %}
            <p><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></p>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a href="{{ site.baseurl }}/blog/">News (Blog)</a><br>
    <div class="spacing"></div>
  </div><!-- /col-md-6 -->

  <div class="col-md-6">
    <h5>Help</h5>
      {% for page in sorted_pages %}
        {% if page.category == 'help' %}
          {% if page.hidden != true %}
          <p><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></p>
          {% endif %}
        {% endif %}
      {% endfor %}
    <div class="spacing"></div>
  </div><!-- /col-md-6 -->
</div><!-- /row -->

<div class="row">
  <div class="col-md-6">
    <h5>Technical Notes</h5>
      {% for page in sorted_pages %}
        {% if page.category == 'notes' %}
          {% if page.hidden != true %}
          <p><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></p>
          {% endif %}
        {% endif %}
      {% endfor %}
    <div class="spacing"></div>
  </div><!-- /col-md-6 -->

  <div class="col-md-6">
    <h5>Other</h5>
      {% for page in sorted_pages %}
        {% if page.category == 'other' %}
          {% if page.hidden != true %}
          <p><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></p>
          {% endif %}
        {% endif %}
      {% endfor %}
    <div class="spacing"></div>
  </div><!-- /col-md-6 -->
</div><!-- /row -->
