<div class="container mtb">
    <div class="row">
        <div class="col-md-8" id="ads-footer">
            <!-- Example using script to insert by domain
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
                 if (location.hostname.endsWith("shotcut.org")) {
                    let ins = document.createElement("ins");
                    ins.push({
                        class: "adsbygoogle",
                        style: "display:block",
                        "data-ad-format": "autorelaxed",
                        "data-ad-client": "ca-pub-1305424236533187",
                        "data-ad-slot": "8964706753"
                    });
                    document.getElementById("ads-footer").appendChild(ins);
                 }
            </script>
            -->
            <div data-aaad='true' data-aa-adunit='/22815767462/shotcutorg_Desktop_728_2'></div>
            <div data-aaad='true' data-aa-adunit='/22815767462/shotcutorg_Mobile_300_3'></div>
            <div data-aaad='true' data-aa-adunit='/22815767462/shotcutcom_Desktop_728_2'></div>
            <div data-aaad='true' data-aa-adunit='/22815767462/shotcutcom_Mobile_300_3'></div>
            <div data-aaad='true' data-aa-adunit='/22815767462/shotcutapp_Desktop_728_2'></div>
            <div data-aaad='true' data-aa-adunit='/22815767462/shotcutapp_Mobile_300_3'></div>
        </div>
    </div>
</div>

<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-sm-6">
                <h4>Social Links</h4>
                <div class="hline-w" style="width: 10em"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa-brands fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-6">
                <p>Copyright &copy; 2011-2024 by <a href="https://www.meltytech.com/">Meltytech, LLC</a>
                <br>Shotcut is a trademark of <a href="https://www.meltytech.com/">Meltytech, LLC.</a></p>
            </div>
            <div class="col-sm-6">
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /footerwrap -->
<div data-aaad='true' data-aa-adunit='/22815767462/shotcutorg_Desktop_Anchore'></div>
<!-- <div data-aaad='true' data-aa-adunit='/22815767462/shotcutorg_Mobile_Anchor'></div> -->
<div data-aaad='true' data-aa-adunit='/22815767462/shotcutcom_Desktop_Anchore'></div>
<!-- <div data-aaad='true' data-aa-adunit='/22815767462/shotcutcom_Mobile_Anchor'></div> -->
<div data-aaad='true' data-aa-adunit='/22815767462/shotcutapp_Desktop_Anchore'></div>
<!-- <div data-aaad='true' data-aa-adunit='/22815767462/shotcutapp_Mobile_Anchor'></div> -->
