<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-sm-6">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-6">
                <p>Copyright &copy; 2011-2016 by <a href="https://www.meltytech.com/">Meltytech, LLC</a>.
                <br>Shotcut is a trademark of <a href="https://www.meltytech.com/">Meltytech, LLC.</a></p>
            </div>
            <div class="col-sm-6">
                <p>Site design by <a href="http://videomi.com/">Magnetic Image</a>.</p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /footerwrap -->
