<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Shotcut is a free, open source, cross-platform video editor.</h3>
                <a href="{{ "/download/" | prepend: site.baseurl }}"><h2>Click to Download</h2></a>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/screenshots/dualmon&speakers.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
        <br>
        <!-- Shotcut Responsive -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1305424236533187"
            data-ad-slot="3403753557"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> <!-- /container -->
</div><!-- /headerwrap -->
