<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Shotcut is a free, open source, cross-platform video editor.</h3>
                <h1>Preview, Edit, Encode</h1>
                <a href="/shotcut_web/download/"><h4 style="color: #70d6ff;">Click to Download</h4></a>
                <h5></h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->