<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Shotcut is a free, open source, cross-platform video editor.</h3>
                <a href="/shotcut_web/download/"><h4>Click to Download</h4></a>
                <h5></h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <a href="{{ "/assets/img/screenshots/shotcut-screenshot-13.03.jpg" | prepend: site.baseurl }}">
                <img src="{{ "/assets/img/screenshots/shotcut-screenshot-13.03.jpg" | prepend: site.baseurl }}" class="img-responsive">
                </a>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
