---
layout: default
---

<! -- {% include wrap.html %} -->

<div class="container mtb">
    <div class="row">
        <! -- SINGLE PAGE -->
        <div class="col-lg-8">
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
                          
            {{ content }}

            <div class="spacing"></div>
            </div><! --/col-lg-8 -->
        
        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->