---
layout: default
wrap_title: 'News'
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <!--  SINGLE POST -->
        <div class="col-md-8">
            <!--  Blog Post  -->
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>
              
            {{ content }}

            <div class="spacing"></div>
            <!-- <h6>SHARE:</h6>
            <p class="share">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>		 		
            </p> -->
    <!-- Shotcut Responsive -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1305424236533187"
        data-ad-slot="3403753557"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
        </div><!-- /col-md-8 -->
        
        {% include sidebar.html %}

    </div><!-- /row -->
</div><!-- /container -->
